<footer>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Copyright &copy; 2021 Black Eagle DHS</a>

      <div class="navbar nav">
        <a class="nav-link" href="#"><i class="bi bi-github"></i></a>
        <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
        <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
        <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
        <a class="nav-link" href="#"><i class="bi bi-whatsapp"></i></a>
        <a class="nav-link" href="#"><i class="bi bi-telegram"></i></a>
      </div>
    </div>
  </nav>
</footer>
