<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img src="../../../assets/img/logoap.png" />Argentina Programa <br />#Yo
      Programo</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="home"
          ><i class="bi bi-house-fill"></i> Inicio</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="aboutme"
          ><i class="bi bi-person-fill"></i> ¿Quien Soy?</a>

        <a class="nav-link" routerLinkActive="active" routerLink="experience"
          ><i class="bi bi-briefcase-fill"></i> Experiencia Laboral</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="studies"
          ><i class="bi bi-book-fill"></i> Estudios y Cursos</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="skills"
          ><i class="bi bi-award-fill"></i> Habilidades</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="projects"
          ><i class="bi bi-bookmark-star-fill"></i> Proyectos</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="contact"
          ><i class="bi bi-person-lines-fill"></i> Contacto</a
        >
      </div>      
    </div>    
  </div>
</nav>
<br />