<div class="row">
  <div class="col-md-2 foto-perfil">
    <img src="../../../assets/img/perfil.png" alt="Perfil" />
  </div>
</div>
<br />
<div class="card tarjetas">
  <h5 class="cabeceras">¿Quien soy?</h5>
  <div class="card-body">
    
    <p class="card-text">
      Vivamus malesuada erat quis ex posuere bibendum. Aliquam gravida volutpat
      massa, non condimentum metus pharetra eu. Nunc at ultrices felis. Donec ut
      ex magna. Vivamus justo augue, volutpat vitae justo quis, suscipit luctus
      ex. Curabitur maximus ligula vel odio facilisis tincidunt. Nullam ut lorem
      ipsum. Praesent justo orci, semper ac magna quis, ullamcorper tempus ante.
      Integer eu nibh vel sapien tempor viverra in non massa. Maecenas sit amet
      cursus arcu. Curabitur imperdiet in ipsum at auctor. Fusce dictum iaculis
      sodales. Fusce interdum id enim id gravida. Nam accumsan nulla vitae
      faucibus vestibulum. Nulla feugiat nulla et mauris tincidunt sodales.
    </p>
  </div>
</div>
<br />
