  <div class="row">
    <div class="col-md-2 foto-perfil">
      <img src="../../../assets/img/perfil.png" alt="Perfil" />
      <h1 class="name">
        Mauro Andres Vicens <br />
        Desarrollador Full Stack
      </h1>
    </div>
  </div>
  <br />
  <div class="card tarjetas">
    <h5 class="cabeceras">¿Quien soy?</h5>
    <div class="card-body">
      <p class="card-text">
        Buena presencia. Joven, dinámico, con ganas de labrarme un futuro. Facilidad de trato con Clientes. 
        Gran capacidad de trabajo, entusiasmo y energía. Amplios conocimientos de las nuevas tecnologías y 
        sus aplicaciones prácticas. Facilidad de aprendizaje.
      </p>
    </div>
  </div>
<br />
