<div class="container">
  <h4 class="cabeceras">Experiencia Laboral</h4>
  <div class="row tarjetas">
    <div class="col-md-12">
      <div class="main-timeline">
        <a href="#" class="timeline" *ngFor="let experience of listexperience">
          <div class="timeline-icon"><i class="fa fa-globe"></i></div>
          <div class="timeline-content">
            <h3 class="title">{{ experience.posicion }}</h3>
            <p class="description">
              Empresa: {{ experience.empresa }},
              Descripción: {{ experience.descripcion }},
              Inicio: {{ experience.inicio }}, Fin: {{ experience.fin }},
            </p>
          </div>
        </a>        
      </div>
    </div>
  </div>
</div>
<hr />