.tarjetas {
	max-width: 1800px;
	align-self: auto;
	margin: 0px 50px;
	background-color: white transparent;
	
}
.cajas {
	max-width: 600px;
	align-items: flex-end;
	align-self: auto;
	align-content: center;
	margin: auto;
}
div.cajas img {
	width: 100px;
	height: 100px;
	align-self: center;
}

div.cajas.mod {
	border: 1px solid #8e532f;
	border-radius: 50px;
	padding: 10px;
}

div.cajas.mod h5 {
	background-color: #8e532f;
	color: white;
	border-radius: 15px;
	text-align: center;
}

section div.cajas.mod p {
	text-align: justify;
}
